node_modules/
cache/
artifacts/
.env
coverage/
coverage.json
typechain/
typechain-types/

# Hardhat files
.hardhat/

# Server
*.log

# Docker
.docker/

# Husky (keep hooks, ignore internal files)
.husky/_

